<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.jhta.mybatis.mapper.ItemMapper">
  
  
 <insert id="iteminsert" parameterType="hashmap" >
 
 insert into items values(items_seq.nextval, #{i_name},#{i_orgimg},#{i_saveimg},#{b_num})
 
 </insert>
	
	
  </mapper>